<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addstateservlet</servlet-name>
        <servlet-class>controller.addstateservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcityservlet</servlet-name>
        <servlet-class>controller.addcityservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPackageServlet</servlet-name>
        <servlet-class>controller.AddPackageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addstateservlet</servlet-name>
        <url-pattern>/addstateservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcityservlet</servlet-name>
        <url-pattern>/addcityservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPackageServlet</servlet-name>
        <url-pattern>/AddPackageServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
